body {
  margin:0;
  padding:0;
}

#jsmap {
  
 
  
}

#mapcontainer {
  
  width:291px;
  height:147px;
  border:1px solid;
  overflow:hidden;
}
.image-position-absolute {
 
}
button {
  width:200px;
  height:20px;
}