html,body {
  font-family:Arial;
  font-size:13px;
  color:#333;
}

@media screen and (max-width: 2980px) {
center {
  margin:0 auto;
  padding:30px;
  width:1000px;
  text-align:left;
  height:100px;
  position:relative;
}
#page_container {
  margin-top:20px;
  position: relative;
 
}

div.container div.right {
  float:left;
  width: 577px;
  min-width: 0;
  position:relative;
  
}

div.container div.left {
  float:left;
  width: 370px;
  margin-right:44px;
  position:relative;
  min-width: 0;
  
  
}
table.list-table td.image-cell {
  width:180px;
}
table.list-table td.image-cell img {
  width:180px;
}

}
@media screen and (max-width: 1060px) {
center {
  margin:0 auto;
  padding:30px;
  width:833px;
  text-align:left;
  position:relative;
}
#page_container {
  margin-top:20px;
  position: relative;
  
}
div.container div.right {
  float:left;
  width: 410px;
}

div.container div.left {
  float:left; width: 370px;
  margin-right:44px;
}
table.list-table td.image-cell {
  width:130px;
}
table.list-table td.image-cell img {
  width:130px;
}

}


@media screen and (max-width: 760px) {
  
  center {
  margin:0 auto;
  padding:30px 0;
  width:370px;
  text-align:left;
  position:relative;
  }
#page_container {
  margin-top:20px;
  
  position: relative;
  
  
}
div.container div.right {
  float:left;
  width: 370px;
}

div.container div.left {
  float:left; width: 380px;
  margin-right:0;
}
table.list-table td.image-cell {
  width:110px;
}
table.list-table td.image-cell img {
  width:110px;
}
div.container div.left div.headline {
  width:370px;
}
}





img{border: none;}
a{border: none;}
h1 {
  font-size:20px;
  font-family:Tahoma;
}
h2 {
}
h3 {
font-size:14px;
}
li.unSelectedButton {
  
  background:#fff;
}
li.selectedButton {
  background:#009bd2;
  
  
}
li.selectedButton a.filterButton {
  color:#fff;
}
li.unSelectedButton a.filterButton {
  color:#666;
}

a {
  text-decoration:none;
}
div#page {
  padding:30px;
}
div#header {
border-bottom:1px solid #d6d6d6;
}
img.right {
  display:block;
  float:right;
  margin:0 0 0 25px;
  border:1px solid #F0F0F0;
}


div.container div.content {
  padding:4px;
}
div.container h3 {
  margin: 0px 0 20px 0;
}

div.container div.headline, div.headline_accordeon {
  position:relative;
  width:100%;
  height:54px;
  background-color:#7f7f7f;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(css/PIE.htc);
}
div.headline_accordeon {
  
  background-color:#7f7f7f;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(css/PIE.htc);
}
div.container div.headline h2, div.container div.headline_accordeon h2 {
  font-size:15px;
  color:white;
  padding:0 19px;
  line-height:54px;
  margin:0;
}
div.container div.left div.headline h2 {
  background:url(/images/icon_search.jpg) 10px 19px no-repeat;
}


a.download-button {
  font-size:12px;
  display:block;
  width:94px;
  height:28px;
  line-height:28px;
  color:white;
  font-weight:bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:0 0 0 26px;
  background:url(/images/download-button.png)  no-repeat;
  margin:5px 0 7px 0; 
}
a.download-button:hover {
  background:url(/images/download-button-over.png)  no-repeat;
}
div.tags {
  background: url(/images/icon_tags.png) 0px 3px no-repeat;
  padding-left:20px;
  color:#7f7f7f;
}

div.container div.right div.latest,
div.container div.right div.popular {
  border:1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width:256px;  
  float:left;
  padding-left:22px;                      
}
div.container div.right div.latest {
  margin-right:8px;
}
div.right div.box {
  clear:both;
  margin-top:30px;
  color:#8f8f8f;
}
div.right div.box a {
  color: #6d6d6d;
}
div.right div.box:after {
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
div.right div.box img  {
  float:left;
  margin-right:14px;
}
div.right div.box h4,
div.right div.box p {
  float:left;
  width:150px;        
  margin:10px 0;
}
div.right div.box h4 {
  margin-bottom:0;    
}

div.container div.right div.latest h3,
div.container div.right div.popular h3 {
  background: url(/images/icon_arrow.png) 229px 4px no-repeat;
}


div.left div.box {
  background-color:#f7f7f7;
  width:340px;
  padding:15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  position: relative;
  margin-bottom: 5px;
    
}
div.left div.box div.desc {
position: absolute;
  top:10px;
  left:0;    
  width:150px;
  height:128px;
  z-index:0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
}
div.left div.box div.content {
  float:right;    
  width: 300px;
  z-index:100;
}
div.left div.box div.content ul {
  list-style-type:none;
  margin:0;padding:0;
}
div.left div.box div.content li {
  width:140px;
  height:52px;
  
  float:left;
  border:1px solid #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin:8px 8px 0 0;
  display: block;
  text-align:center;
  width:140px;
  padding:0;
  
}

div.left div.box div.content li:before {
 
  height: 100%;
  vertical-align: middle;
  margin-right: -0.5em; /* Adjusts for spacing */
}
 
div.left div.box div.content li a {
  text-decoration:none;
  
  width:100%;
  display: block;
  vertical-align: middle;
  
  font-size:11px;
  
}

div.slide-thumbs div.slides-content  {
    width:9000px;
    position:absolute;
    top:28px;
    left:0
}
div.slide-thumbs div.slides-content div {
    float: left;
    width: 260px;
    height: 86px;
    float: left;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  background-color: white;
  margin-right: 12px;
  padding:10px;
  border:1px solid #f2f2f2;
}
div.slide-thumbs div.slides-content div a {
  text-decoration:none;
  color:#666666;
}
div.slide-thumbs div.slides-content div img {
    float:left;    
    margin-right:15px;
}
div.slide-thumbs div.slides-content div h4 {
  margin:16px 0 0 0;
}

div.slide-thumbs .gradient-left  {
 
  z-index: 50;
  width:79px;
  height:30px;
  position:absolute;
  left:0;
  top:0;   
}
div.slide-thumbs .gradient-right {
 
  z-index: 50;
  width:79px;
  height:30px;
  position:absolute;
  right:0;
  top:0;   
}
div.slide-thumbs .next,
div.slide-thumbs .prev {
    display: block;
    width: 30px;
    height:30px;
    background-color: #7f7f7f;
    color: white;
    z-index: 100;
    position:absolute;
    font-size: 25px;
    font-family: Tahoma;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
    top:0; 
}    
div.slide-thumbs .next {                                            
  right:10px;
  background: #7f7f7f url(/images/icon_next.png) 10px 8px no-repeat;
}
div.slide-thumbs .prev {
  left:10px;
  background: #7f7f7f url(/images/icon_prev.png) 10px 8px no-repeat;
} 


div#slidesNav {
  width:60px;
  margin:0 auto 20px;
  height:20px;
}
div#slidesNav a {
  text-indent:-9000px;
  display:block;
  float:left;
  width:8px;
  height:8px;
  background-color:#e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  margin-left:2px;
  behavior: url(css/PIE.htc);
}
div#slidesNav a.activeSlide {
  background-color:#7e7e7e;
}




div.break {
  clear:both;
}
div.break_list {
  clear:both;
  border-bottom:1px solid #888;
}


.rounded {
  behavior: url(css/PIE.htc);
}
.filterButton {
  display:block;
  width:138px;
  height:50px;
  line-height:50px;
  
}
#publicationList {
  margin:0;
  padding:0;
}
#publicationList li {
  list-style:none;
  margin:0;
  padding:0;
  border-bottom:1px solid #d6d6d6;
}
#publicationList li a.innerlink , .focusdescription a {
  color:#4d92b4;
  text-decoration:underline;
}
#publicationList li a:hover.innerlink , .focusdescription a:hover {
  color:#333;
  text-decoration:underline;
}



#publicationList li a {
  color:#fff;
}



#map-div {
  width:291px;
  height:141px;
  background:url(/images/world-bg1.gif);
  
}


.closed_bar {
 
}
.open_bar {
  
}
table.list-table {
  margin:8px 0;
  width:100%;
}
img.table_image {
  border:1px solid #f0f0f0;
}
.document-languages {
  text-align:right;
  margin:8px 0;
  color:#cccccc;
}
.list-content {
  margin-left:10px;
}
#resetButton {
  display:block;
  position:absolute;
  top:12px;
  left:266px;
  color:#fff;
  border:solid 2px #eee;
  
  text-align:center;
  line-height:24px;
  background:#c4c4c4;
  width:84px;
  height:24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  
  behavior: url(css/PIE.htc);
}

